<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
     body {
        background-color: black;
        color: white;
    }
    .connor {
        float: right;
        bottom: 0;
        right: 0;
        position: absolute;
    }
</style>
    

</head>
<body>
    <h1>Hello and welcome to my virtual portfolio! I will have some of my work here and a page about me.</h1>
    <h2>About Me Page <button onclick="location.href='aboutMe'">Click Me</button></h2>
    <h2> Pew Pew Game <button onclick="location.href='game1'">Perchance a game?</button></h2>
    <h2>Chatting  <button onclick="location.href='chat'">Click to chat</button></h2>
    <img class=connor src="/img/connor2.png" alt="Connor Yeager" width="500" height="500">
</body>
</html>