<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body {
            background-color: black;
            color: white;
        }

        .JS_img {
            float: right;
            top: 0;
            right: 0;
            position: absolute;
        }
    </style>
</head>
<body>
    <h1> Hello this is my portfolio website</h1> 
    <h2>This exists to prove that I know some of the things I say I do.</h2>
    <h2>Login to see more of what I've done. <a href="/login"><button type="button" href="login.ejs">Click Me To Login</button></a></h2>
    <img src="/img/smiley.png" alt="A smiley face" width="500" height="500">
    <img class=JS_img src="/img/javascript.png" alt="Javascript logo" width="500" height="500">
</body>
</html>